
 :root {
    --primary-bgcolor: #26272c;
    --second-bgcolor: #131218;
    --primary-color: #ffffff;
    --light-color:#aeadad;
    --boldlight-color: #4d4a4a;
    --primary-icolor: #009946;
    --primary-green-t: #009946;
    --primary-red-t: #EB1C1A;
    --primary-yellow-t:#ED9B12;
    --red-text: #c0392b;
    --blue-text: #3f51b5;
    --blue-text-bold: #324191;
    --logo-color:#ffffff;
}

[data-theme="light"] {
    --primary-bgcolor:#ffffff;
    --second-bgcolor: #f5f4f4;
    --primary-color: #000000;
    --light-color:#aeadad;
    --boldlight-color: #4d4a4a;
    --primary-icolor: #009946;
    --primary-green-t: #009946;
    --primary-red-t: #EB1C1A;
    --primary-yellow-t:#ED9B12;
    --red-text: #c0392b;
    --blue-text: #3f51b5;
    --blue-text-bold: #324191;
    --logo-color:#131218;
}


$primary-bgcolor: var(--primary-bgcolor);
$second-bgcolor:  var(--second-bgcolor);
$primary-color: var(--primary-color);

$light-color: var(--light-color);
$boldlight-color: var(--boldlight-color);

$primary-icolor: var(--primary-icolor);

$primary-green-t: var(--primary-green-t);
$primary-red-t: var(--primary-red-t);
$primary-yellow-t: var(--primary-yellow-t);

$red-text: var(--red-text);
$blue-text: var(--blue-text);
$blue-text-bold: var(--blue-text-bold);

$logo-color: var(--logo-color);


$wide: 2500px;
$desktop: 1320px;
$mobile: 800px;
$mobilek: 420px;



a {
    color:$primary-color;
    text-decoration: none;
}

* {
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif, FontAwesome,;
    font-size:16px;
    font-style:normal;
    box-sizing: border-box;
    line-height: 1.5;

}


.rm-h2 {
    font-size:1.25rem;
    margin:0;
}

.rm-h3 {
   font-size:1rem ;
   margin:0;
   color:$primary-color;
}

label {
    margin-bottom: 0;
}
.red-text {
    color:$red-text;

    a {
        color: $red-text;
    }
}

.blue-text {
    color:$blue-text;

    a {
        color: $blue-text;
    }
}

.light {
    color: $light-color;
}


.rm-button {
    height:30px;
    width: auto;
    font-size:0.75rem;
    padding:10px 15px;
    background-color: red;
    border-radius: 995px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    text-transform: uppercase;
    margin:0px 10px;
    color:#fff;
    
    @media screen and (max-width: $mobile) {
        font-size:0.65rem;
        padding:5px 5px;
        height:25px;
    }

    
}

.rm-box {
    padding:10px;
    width:100%;
    height:auto;
    box-shadow: 0px 4px 8px $second-bgcolor;
    border:1px solid $light-color;
    border-radius: 10px;

}


header {
    width: 100%;
    height: 90px;
    display: flex ;
    align-items: center;
    background-color: $primary-bgcolor;

    @media screen and (max-width: $mobile) {
        height:50px;
    }

    .rm-sidenav-bt {
        font-size:30px;
        cursor:pointer;
        padding-left:10px;
        color:$primary-color;
    }

    .logo {
        width: 200px;
        min-width: 200px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $mobile) {
            height: 50px;
            width:100px;
            min-width: 100px;
            margin-right:20px;
        }


        .logosvg {
            width:50px;
            fill: $logo-color;
        

            @media screen and (max-width: $mobile) {
                width:25px;
            }
        }

        .logotextsvg {
            width:80px;
            fill: $logo-color;

            @media screen and (max-width: $mobile) {
                width:40px;
            }
        }
    }

    .search {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        #search {
            background: #fff;
            border-radius: 70px;
            width:400px;
            height:40px;
            padding-left: 30px;
            font-size:1rem;
            color:$light-color;
            border: 1px solid #13121885;

            @media screen and (max-width: $mobile) {
                width:140px;
                height:25px;
                display:none;
            }
        }
    }

    .header-menu {
        font-size:0.65rem;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right:30px;


        .form-switch {
            display: inline-block;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }
          
        .form-switch i {
            position: relative;
            display: inline-block;
            margin-right: 15px;

            width: 46px;
            height: 26px;
            background-color: #e6e6e6;
            border-radius: 23px;
            vertical-align: text-bottom;
            transition: all 0.3s linear;
        }
          
        .form-switch i::before {
            content: "";
            position: absolute;
            left: 0;
            width: 42px;
            height: 22px;
            background-color: #fff;
            border-radius: 11px;
            transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
            transition: all 0.25s linear;
        }
          
        .form-switch i::after {
            content: "";
            position: absolute;
            left: 0;
            width: 22px;
            height: 22px;
            background-color: #fff;
            border-radius: 11px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
            transform: translate3d(2px, 2px, 0);
            transition: all 0.2s ease-in-out;
        }
          
        .form-switch:active i::after {
            width: 28px;
            transform: translate3d(2px, 2px, 0);
        }
          
        .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
          
        .form-switch input { display: none; }
          
        .form-switch input:checked + i { background-color: #4BD763; }
          
        .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
          
        .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
    
        .language {
            width:30px;
            height:20px;
            margin-left:15px;

            img {
                width:30px;
                height:20px;
                vertical-align: top;
            }
        }



    
    }
}


.content {
    width:100%;
    height: calc(100% - 90px);
    display:flex;
    position: fixed;

    @media screen and (max-width: $mobile) {
        height: calc(100% - 50px);
    }

}

.middle {
    width: calc(100% - 200px);
    display:flex;


    @media screen and (max-width: $mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: calc(100% - 70px);
    }

}

.left-sidebar {
    color: $primary-color;
    width: 200px;
    max-width:200px;
    min-width:200px;
    height: 100%;
    background-color: $primary-bgcolor;
    overflow:auto;
    overflow-x: hidden;

    



    @media screen and (max-width: $mobile) {
        width:70px;
        max-width: 70px;
        min-width:70px;
    }

    .boxes {
        width:100%;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        align-content: flex-start;
        
        @media screen and (max-width: $mobile) {

            align-items: center;
        }

        .box {
            width: 50%;
            height:60px;
            margin-top:20px;
            cursor:pointer;

            :active,
            :checked {
              background: #fff;
              border-radius: 30px;
            }

            @media screen and (max-width: $mobile) {
                width:100%;
                margin-top:10px;
            }
    

            img {
                width:35px;
                display: block;
                margin:auto;
                margin-bottom:5px;

            }

            .title {
                font-weight: 600;
                font-size: 0.8rem;
                text-align: center;

                @media screen and (max-width: $mobile) {
                    font-size:0.6rem;
                }

                
            }

            .title-b {
                font-size:1rem;

                @media screen and (max-width: $mobile) {
                    font-size:0.75rem;
                }
            }

        }
        
    }

}

.middle-section {
    background-color:$second-bgcolor;
    width:100%;
    height: 100%;
    flex-grow: 1;
    overflow:auto;
    overflow-x: hidden;
    
    .tables-top {
        width:100%;
        height:60px;
        box-shadow: 0px 1px 5px rgba(120, 117, 117, 0.5);
        display:flex;
        align-items: center;
        justify-content: flex-start;
        


        @media screen and (max-width: $mobile) {
            height:50px;
            width:100%;
            overflow-x:auto;
            overflow-y: hidden;
        }
    

        .floortitle {
            width: 150px;
            height: 60px;
            background-color:$primary-bgcolor;
            box-shadow: 0px 0px 1px #000000;
            font-size: 1rem;
            line-height: 33px;
            color: $primary-color;
            display:flex;
            align-items: center;
            justify-content: center;
            padding:2px;
            cursor:pointer;

            &:first-child {
                margin-left:0px;
            }

            @media screen and (max-width: $mobile) {
                width:80px;
                min-width: 80px;
                height:50px;
                font-size:0.8rem;

                &:first-child {
                    margin-left:0px;
                }
            }


        }

        .greenbg {
            background-color:$primary-icolor;
            color:#fff;
        }

    }


}


.menus {
    width: 100%;
    height:100%;
    padding:30px 30px 0 30px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
        padding:10px 10px 0 15px;
    }

    


    .selected {
        background: rgb(27,219,56);
        background:  rgb(27,219,56), linear-gradient(140deg, rgba(27,219,56,0) 50%, rgba(22,208,45,1) 70%); 
        z-index: 300;
        box-shadow: inset 0 0 0 1000px rgba(51, 255, 10, 0.38);

    }

    .menubox {
        width: calc(25% - 15px);
        min-width: 220px;
        height: 150px;
        border-radius: 15px;
        margin: 0 0px 20px 0;
        padding:15px;
        display:flex;
        align-items: center;
        color:$primary-color;
        cursor: pointer;
        display: block;
        position: relative;
        z-index: 2;
        background-image: url(https://cdn.yemek.com/mnresize/940/940/uploads/2017/11/karisik-pizza-yapimi-tarifi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-around;
       

        &::after {
            content: "";
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            border-radius: 15px;
        
        }


        
        @media screen and (max-width: $wide) {
            width: calc(20% - 15px);


        }

        @media screen and (max-width: $wide) {
            width: calc(25% - 15px);


        }

        @media screen and (max-width: $mobile) {
            width:calc(25% - 5px);
            height:100px;
            min-width:auto;
            margin: 0 0px 10px 0;

        }

        @media screen and (max-width: $mobilek) {
            width:calc(50% - 5px);
            height:100px;
            min-width:auto;
            margin: 0 0px 10px 0;


        }



        .info {
            width:200px;

            .menu-name {
                font-size:1.25rem;
                font-weight: bold;
                color:#fff;
                margin:0;

                @media screen and (max-width: $mobile) {
                    font-size:0.9rem;
                }
            }

            .menu-price {
                font-size:1rem;
                margin:0;
                color: #fff;


                @media screen and (max-width: $mobile) {
                    font-size:0.7rem;
                }

            }

        }

        .selected-section {
            width:88%;
            position: absolute;
            bottom:0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .selected-cancel, .fas {
                font-size:1.3rem;

                @media screen and (max-width: $mobile) {
                    font-size:1rem;
                }
            }

            .selected-number {
                background-color: #fff;
                border-radius:205px;
                font-size:0.8rem;
                color:#000;
                width: 20px;
                height: 20px;
                text-align: center;

                @media screen and (max-width: $mobile) {
                    font-size:0.6rem;
                    width: 15px;
                    height: 15px;
                }
            }
        }


    }    
}

.tables {
    width: 100%;
    height:100%;
    padding:30px 30px 0 30px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;



    @media screen and (max-width: $mobile) {
        padding:10px 10px 0 15px;
    }

    .tablebox {
        width: calc(25% - 15px);
        min-width: 200px;
        height: 80px;
        background: #131218;
        box-shadow: 0px 4px 8px $primary-bgcolor;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 15px;
        margin: 0 0px 20px 0;
        padding:15px;
        display:flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-around;





        @media screen and (max-width: $wide) {
            width: calc(20% - 15px);


        }

        @media screen and (max-width: $desktop) {
            width: calc(33% - 15px);


        }

        @media screen and (max-width: $mobile) {
            width: calc(25% - 15px);
            height:90px;
            min-width:85px;
            margin: 0 0px 10px 0;
            flex-direction: column;
            flex-wrap: nowrap;
            font-size:0.5rem;
            align-items: flex-start;
            padding:10px;

        }


        .info {
            width:180px;
           
          
        
            .table-name {
                font-size:1rem;
                margin:0;
                color:#fff;

                @media screen and (max-width: $mobile) {
                    font-size:0.75rem;
                }
            }

            .table-order {
                font-size:0.8rem;
                margin:0;
                color:#fff;


                @media screen and (max-width: $mobile) {
                    font-size:0.65rem;
                }

                span {
                    font-size:1.25rem;
                    margin-right:10px;
                    color:#fff;

                    @media screen and (max-width: $mobile) {
                        font-size:0.75rem;
                        margin-right:3px;
                    }

                }
            }


        }

        .table-price {
            font-weight: bold;
            font-size:1.15rem;
            min-width:40px;
            margin:0;
            color:#fff;


            @media screen and (max-width: $mobile) {
                font-size:0.8rem; 
            }

        }
    }

    .green-t {
        background-color: $primary-green-t;
    }

    .red-t {
        background-color: $primary-red-t;
    }

    .yellow-t {
        background-color: $primary-yellow-t;
    }
}

.closed-tables {
    width:100%;
    height:auto;
    background-color:$second-bgcolor;
    padding:20px;
    display:flex;
    align-items:flex-start;
    align-content:flex-start;
    flex-wrap: wrap; 
    overflow: scroll;
    overflow-x: hidden;

    @media screen and (max-width: $mobile) {
        display:block;
    }

    .closed-table {
        width: calc(33% - 15px);
        background-color:$primary-bgcolor;
        border-radius: 15px;
        padding:20px;
        height:auto;
        margin-right:15px;
        margin-bottom:30px;
        overflow: hidden;
        

        @media screen and (max-width: $mobile) {
            width:100%;
            margin-bottom:20px;
        }

        > div {
            margin-bottom:40px;
        }

        .date {
            font-size:0.7rem;
            margin-top:-10px;
            display: block;
            color:$primary-color;
        }

        .title {
            font-size:1rem;
            width:100%;
            display:block;
            margin-bottom:10px;
            color:$primary-color;
        }

        .orders {

            .order {
            display:flex;
            align-items: center;
            padding:10px;
            border-radius: 5px;
            margin-bottom:3px;
            cursor: pointer;

            &:hover {
                background-color:$second-bgcolor;
            }
            
                .order-detail {
                    font-size:0.85rem;
                    color:$primary-color;
                }

                img {
                    width:30px;
                    height:30px;
                    border-radius: 30px;
                    margin-right:10px;
                }
            
            }

            .payed {
                background-color: #c0392b;
            }

            .selected {
                background-color: #3f51b5;
            }
        }    

        .received {
            width:100%;
            color:$primary-color;

            .received-way {
                font-size:0.8rem;
                margin-left:20px;
                display:inline-block;

            }

            .received-price {
                font-size:1rem;
                margin-left:20px;
                display:block;
                margin-bottom:15px;
            }

            
        }

        .button {
            margin-bottom:0px;
        }



    

    }




}

.open-tables {
    width:100%;
    height:auto;
    background-color:$second-bgcolor;
    padding:20px;
    overflow: scroll;
    overflow-x: hidden;



}


.prepared {
    width:100%;
    height:auto;
    background-color:$second-bgcolor;
    padding:20px;
    display:flex;
    align-items:flex-start;
    align-content:flex-start;
    flex-wrap: wrap; 
    overflow: scroll;
    overflow-x: hidden;

    @media screen and (max-width: $mobile) {
        display:block;
    }

    .prepared-table {
        width: calc(33% - 15px);
        background-color:$primary-bgcolor;
        border-radius: 15px;
        padding:20px;
        height:auto;
        margin-right:15px;
        margin-bottom:30px;
        overflow: hidden;
        

        @media screen and (max-width: $mobile) {
            width:100%;
            margin-bottom:20px;
        }




        .title {
            font-size:1rem;
            width:100%;
            display:block;
            margin-bottom:10px;
            color:$primary-color;
        }

        .order {
            display:flex;
            align-items: center;
            height:50px;
            position: relative;
        
        
            img {
                width:30px;
                height:30px;
                border-radius: 30px;
                margin-left:10px;
                
            }
        
            .detail {                    
                align-items: center;
                padding:10px;
                border-radius: 5px;
                margin-bottom:3px;
                cursor: pointer;
                
                .order-detail {
                    color:$primary-color;
                    font-size:0.9rem;
                    display:block;
                }
        
            }
        
            .options {
                position: absolute;
                right:0;
                margin-right:  20px;
        
        
                .check-square {
                    width: 25px;
                    height: 25px;
                    position: relative;
                    display:flex;
                    align-items: center;
                    justify-content: center;
    
                    label {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: absolute;
                        background: #fcfff4;
                        border-radius: 4px;
                        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    
                        &:after {
                            content: '';
                            width: 12px;
                            height: 8px;
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            border: 3px solid #333;
                            border-top: none;
                            border-right: none;
                            background: transparent;
                            opacity: 0;
                            transform: rotate(-45deg);
                        }
    
                        &:hover::after {
                            opacity: 0.5;
                        }
                    }
    
                    input[type=checkbox] {
                        visibility: hidden;
    
                            &:checked + label:after {
                            opacity: 1;
                            }
                      }  
    
    
                }
            }
        }



        .button {
            margin-bottom:0px;
            background-color: $blue-text;
        }



    

    }




}

.printing {
    width:100%;
    padding:20px;
    overflow-y: scroll;
    background-color: $second-bgcolor;

    .rm-box {
        margin-bottom:40px;
    }

    .printing-info {
        display:flex;
        height:80px;
        align-content: center;
        align-items: center;
        background-color: $blue-text;
        margin-bottom:40px;
        
        .info {
            background-color: $blue-text-bold;
            display:flex;
            width:100px;
            height:80px;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-right:30px;

            .fa-info-circle {     
            font-size:1.25rem;   
            color:$primary-color;     
            }

        }     

    }

    .rm-box-printing {
        padding:30px;

        > h3 {
            margin-bottom:20px;
            cursor:pointer;
        }
        
    }

    .rm-box-blue {
        background-color: $blue-text;
        border-radius: 10px;
        text-align: center;

        .fa {
            margin-right:10px;
            color:$primary-color;

        }
    }
}


.right-sidebar {
    background-color: $primary-bgcolor;
    width:100%;
    max-width: 350px;
    height:100%;
    overflow:auto;
    overflow-x: hidden;
    position: relative;


    @media screen and (max-width: $mobile) {
        width:100%;
        max-width: 100%;
    }

    .cart {
        display:flex;
        flex-direction: column;
        width:100%;
        height:auto;

        

        .cart-title {
            width: 100%;
            height:60px;
            border-bottom:1px solid $light-color;
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding:0 10px 0 15px;
            margin-bottom:10px;



            @media screen and (max-width: $mobile) {
                height:30px;
            }
    
            .title {
                font-size: 1rem;
                color:$primary-color;
            }
    
            .title-info {
                font-size: 0.9rem;
                color:$primary-color;

            }
        }

        .cart-title-bold {
            border-bottom:3px solid $light-color;
        }

        .cart-item {
            width:100%;
            height:40px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px 5px 10px;

            .left-side {
                width:50%;
                display:flex;
            }

            .check-square {
                width: 25px;
                height: 25px;
                position: relative;
                display:flex;
                align-items: center;
                justify-content: center;

                label {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    position: absolute;
                    background: #fcfff4;
                    border-radius: 4px;
                    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

                    &:after {
                        content: '';
                        width: 12px;
                        height: 8px;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        border: 3px solid #333;
                        border-top: none;
                        border-right: none;
                        background: transparent;
                        opacity: 0;
                        transform: rotate(-45deg);
                    }

                    &:hover::after {
                        opacity: 0.5;
                    }
                }

                input[type=checkbox] {
                    visibility: hidden;

                        &:checked + label:after {
                        opacity: 1;
                        }
                  }  


            }



            .extra-item {
                display:block;
                margin-left:auto;
                width:100%;
                display:flex;
                align-items: center;
                align-content: center;
                justify-content: flex-end;

                .extra-item-title {
                    font-size: 0.9rem;
                    width:auto;
                    min-width:100px;
                    margin-left:20px;
                    margin-right:20px;
                    color:$primary-color;
                }
                span {
                    font-size: 0.9rem;
                    width:auto;
                    color:$primary-color;
                }



                &:before {
                    content: "";
                    display:inline-block;
                    width:20px;
                    height:1px;
                    background-color:$light-color;
                    margin-bottom:5px;
                }
            }

        }

        .extra  {
            height: 80px;
            flex-wrap: wrap;

            @media screen and (max-width: $mobile) {
                height:50px;
            }
        }



        .pay-this {
            padding:10px;
            width:90%;
            margin:20px 0 20px 20px;
            border-radius:5px;
            border:1px solid $primary-color;
            display:flex;
            align-items: center;
            justify-content: space-between;
        }


        .recived {
            width:100%;
            height:auto;
            margin-bottom:20px;

            .recived-item {
                display:flex;
                justify-content: space-between;
                padding:0px 20px 0 20px;
            }

            .fas {
                font-size:1.25rem;
                margin-left:10px;
            }
        }

        .item-title {
            font-size: 1rem;
            margin-left:5px;
            width:170px;
            color:$primary-color;

            @media screen and (max-width: $mobile) {
                width:140px;
                font-size:0.9rem;
            }
        }

        .price {
            font-size:1rem;
            min-width: 40px;
            color:$primary-color;
        }

        .number {
            display:flex;
            align-items: center;
            justify-content: center;
            width:80px;
            margin-right:0;

            .minus, .plus {
                width:18px;
                height:18px;
                cursor:pointer;
            }

            .number-text {
                width:30px;
                text-align: center;
                font-size:1rem

            }
        }

    }

    .payment {
        width: 100%;
        background-color: #686767;
        bottom: 0;
        height:auto;
        display:block;



        .table-search {
            float: right;
            width: 100%; 
            height:50px;
            display:none;

            @media screen and (max-width: $mobile) {
                height:30px;
            }

                button {
                    width:20%;
                    height:100%;
                    float: right;
                    background: #ddd;

                    border: none;
                    cursor: pointer;
                }

                button:hover {
                    background: #ccc;
                }

                input[type=text] {
                    padding: 6px;
                    font-size: 17px;
                    border: none;
                    width:80%;
                    height:100%;
                }

                
        }


        .pay {

            width:100%;
            height:50px;
            display:flex;
            align-content: center;
            justify-content: center;
            box-shadow: 10px 5px 1px #000;

            @media screen and (max-width: $mobile) {
                height:40px;
            }

            .info {
                width:75%;
                height:100%;
                background-color:$primary-icolor;
                display:flex;
                align-items: center;
                padding:10px;
                cursor: pointer;  
                
                > span  {
                    color: #fff;
                }

                .total {
                    margin-left:10px;                    
                }

                
            }

            .cancel {
                background-color: red;
                width:25%;
                height:100%;
                display:flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #fff;

            }

            *, span {
                font-size:1rem;
                font-weight: bold;

                @media screen and (max-width: $mobile) {
                    font-size:0.9rem;
                }
            }
    
        }

        .pay-options {
            height:50px;
            display:flex;
            align-items: center;
            justify-content: center;
            width:100%;
            
            img {
                width: 25%;
                height:100%;
                border:none;
                box-shadow: 10px 5px 1px #000;
            }

            :first-child{
                background-color: #009946;
            }

            :nth-child(2){
                background-color: #ED9B12;
            }

            :nth-child(3){
                background-color: #686767;
            }

            :nth-child(4){
                background-color: #EB1C1A;
            }
        }


    }

}


div.none {
    opacity: 0;
    display:none;
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $second-bgcolor;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow:hidden;
    
  
    .sidenav-title {
        width:100%;
        height:60px;
        background-color: $primary-bgcolor;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        padding-left:20px;


        img {
            width:40px;
            height:0px;
            border-radius: 50px;
            margin-right:20px;
        }

        span {
            font-size:1rem;
            color:$primary-color;
        }

    }

    .sidenav-cat {
        background-color: $second-bgcolor;
        width:100%;
        padding-left:20px;



        .sidenav-cat-title {
            font-size:0.75rem;
            width:100%;
            margin-top:20px;
            margin-bottom:10px;
            color:$primary-color;

        }

        img {
            width:15px;
            height:15px;
            margin-right:10px;
        }
    }
  
  a {
    height:40px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    line-height:40px;
    transition: 0.3s;
    display:flex;
    align-items: center;

    @media screen and (max-width: $mobile) {
        font-size:0.85rem; 
        height:40px;
    }
  }

  a:active {
    background-color: $primary-bgcolor;
  }
  
  a:hover {
    color: #f1f1f1;
    background-color: $primary-bgcolor;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top:10px;
  }


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

}

.login-page {
    width:100%;
    height: 100vh;
    background-color: $light-color;
    display:flex;
    align-items: center;
    justify-content: center;


    .login-box {
        width:400px;
        height: auto;
        padding:30px 30px 10px 30px;
        background-color:#fff;
        border-radius: 10px;

        form {
            position: relative;
        }

        p, span, a {
            font-size:1rem;
            text-decoration: none;
            color:$light-color;
        }
        .heading {
            font-weight: normal;
            font-size:1.5rem;
            color:$light-color;
            text-align: center;
            margin-bottom:20px;

            .fas {
                font-size:1.5rem;
                color:$light-color;
                left:0;
                position: absolute;
                cursor: pointer;
            }
        }
        span.psw {
            right:0;
            position: absolute;
        }


        .logo {
            width: 100%;
            min-width: 200px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            @media screen and (max-width: $mobile) {
                height: 50px;
                width:100%;
                min-width: 100px;
                margin-bottom:20px;
            }
    
    
            .logosvg {
                width:50px;
                fill: #000;
            
    

            }
    
            .logotextsvg {
                width:80px;
                fill: #000;
    

            }
        }

        input[type=text], input[type=password] {
            width: 100%;
            height:40px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            color:#000;
            font-size:0.75rem;
        }
          
        button {
            background-color: #4CAF50;
            color: white;
            padding: 5px 20px;
            margin: 3px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 999px;

            a, span {
                color:#fff;
            }
        }
          
        .other-button {
            background-color: #4CAF50;
            color: white;
            padding: 5px 20px;
            margin: 3px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 999px;
            text-align: center;

            a, span {
                color:#fff;
            }
        }
        
        .create {
            background-color: #F04442;
        }

        .other-button:hover, button:hover {
            opacity: 0.8;
        }
          

        
        .login-options {

            margin-top:40px;
            
            .other-button {
                margin: 3px 0;
                height:30px;
                padding: 5px;
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 10px;
                margin-right:5px;

                p, span, a {
                    font-size:0.75rem;
                    text-decoration: none;
                }

                i {
                    font-size: 0.75rem;
                    margin-right:10px;
                }
            }
              
        }
          


          
    }
}


.popup {
    background-color:#fff;
    margin: auto;
    margin-top:30px;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color:black;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);

    @media screen and (max-width: $mobile) {
        width: 90%;
    }
}

.popup-bottom {
    display:flex;
    align-items: center;
    justify-content: flex-end;

    p,a {
        font-size:0.65rem;
        font-weight: bold;
    }

    :last-child {
        margin-left:5px;
        margin-right: 10px;
    }
}

.popup-close {
    color: $boldlight-color;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
}

.popup-order {
    display:flex;
    align-items: center;
    height:50px;
    position: relative;


    img {
        width:30px;
        height:30px;
        border-radius: 30px;
        margin-left:10px;
        
    }

    .order {
        
        align-items: center;
        padding:10px;
        border-radius: 5px;
        margin-bottom:3px;
        cursor: pointer;
        
        span {
            color:$boldlight-color;
            font-size:0.8rem;
            display:block;
        }

    }

    .options {
        position: absolute;
        right:0;
        margin-right:  20px;


        .minus, .plus {
            font-size:1.5rem;
            margin-left:15px;
            cursor: pointer;
            color:$boldlight-color;
        }
    }
}

.popup > .notes > input {
    display:block;
    width:100%;
    height:50px;
    margin-bottom:30px;
    color:$boldlight-color;
    font-size:1rem;
    padding:10px;
    border:1px solid $light-color;
    border-radius: 5px;
    margin-top: 30px;
}

.popup1 {


    span,h2 {
        color:$boldlight-color;
    }


}


.popup4 {


    .bottom {
        display:flex;
        
        .button {
            width:50%;
            
            a {
                font-size:1rem;
            }
            &:first-child {
                background-color: #c0392b;
            }
            &:last-child {
                background-color:#3f51b5;
            }
        }
    }


}


.radiobutton {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 0.8rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
    color:$boldlight-color;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		&:checked {
			~ {
				.checkmark {
					background-color: $second-bgcolor;
					&:after {
						display: block;
					}
				}
			}
		}
	}

	.checkmark {
		&:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background:#fff;
		}
    }
    

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $light-color;
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }


}




